<div id="myModal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form [formGroup]="tweetForm" (ngSubmit)="enviarTweet()">
        <div class="tweet-box card text-center">
          <div class="row card-body">
            <div class="col-1 circle" [ngStyle]="{ 'background-color': '#cccccc' }"></div>
            <textarea formControlName="tweet" name="tweet" class="col-9" type="text" maxlength="140"
              placeholder="Que estas pensado?"></textarea>
          </div>
        </div>
      </form>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary"> Tweetear </button>
        <button type="button" class="btn btn-danger" data-dismiss="modal"> Cancelar </button>
      </div>
    </div>
  </div>
</div>