
<!-- Left column -->
<div class="profile-header">
  <!-- Header information -->
  <h3 class="profile-fullname"><a>Ramona Ponte Alegre</a></h3>
  <h2 class="profile-element"><a>@pontealegre</a></h2>
  <a class="profile-element profile-website" hrerf=""><i class="octicon octicon-link"></i>&nbsp;yoramona.com</a>
  <a class="profile-element profile-website" hrerf=""><i class="octicon octicon-location"></i>&nbsp;Peor es nada, Chile</a>
  <h2 class="profile-element"><i class="octicon octicon-calendar"></i>Desde Abril 2015</h2>
  <button class="btn btn-search-bar tweet-to-btn" data-target="#myModal" data-toggle="modal" type="button" (click)="twittear()">Tweet to Ramona Ponte Alegre</button>
  <a class="profile-element profile-website" hrerf=""><i class="octicon octicon-file-media"></i>156 Fotos y videos</a>
  <div class="pic-grid">
    <!-- Image grid -->
    <div class="row">
      <div class="col pic-col"><img src="../assets/fotos/paisaje01-70.jpeg" height="73px" class=""></div>
      <div class="col pic-col"><img src="../assets/fotos/paisaje02-70.jpeg" height="73px" class=""></div>
      <div class="col pic-col"><img src="../assets/fotos/paisaje03-70.jpeg" height="73px" class=""></div>
    </div>
    <!-- End: row -->
    <div class="row">
      <div class="col pic-col"><img src="../assets/fotos/paisaje04-70.jpeg" height="73px" class=""></div>
      <div class="col pic-col"><img src="../assets/fotos/paisaje05-70.jpeg" height="73px" class=""></div>
      <div class="col pic-col"><img src="../assets/fotos/paisaje06-70.jpeg" height="73px" class=""></div>
    </div>
    <!-- End: row -->
  </div>
  <!-- End: image grid -->
</div>
<!-- End; Left column -->