<div class="main-container">

  <div class="container">
    <div class="row">

      <div class="col-3">
        <app-tendencias></app-tendencias>
      </div>

      <div class="col-6">

        <form [formGroup]="tweetForm" (ngSubmit)="enviarTweet()">
          <div class="tweet-box card text-center">
            <div class="row card-body">
              <div class="col-1 circle" [ngStyle]="{ 'background-color': '#cccccc' }"></div>
              <textarea formControlName="tweet" name="tweet" class="col-9" type="text" maxlength="140"
                placeholder="Que estas pensado?"></textarea>
            </div>
            <div class="card-footer text-muted">
              <button type="submit" class="btn btn-primary"> Tweetear </button>
              <button type="button" class="btn btn-danger"> Cancelar </button>
            </div>
          </div>
        </form>
        <app-tweets></app-tweets>
      </div>

      <div class="col-3 right-col">
        <app-recomendaciones></app-recomendaciones>
      </div>
    </div>
  </div>
</div>