<app-navbar></app-navbar>

<div class="main-container">
  <!-- Profile background large image -->
  <div class="row profile-background">
    <div class="container"></div>
  </div>

  <app-navbar-perfil></app-navbar-perfil>

  <div class="container main-content">
    <div class="row">
      
      <div class="col-4 profile-col">
        <app-columna-perfil></app-columna-perfil>
      </div>
      
      <div class="col-5">
        <app-columna-central></app-columna-central>
      </div>
      
      <div class="col-3 right-col">
        <app-columna-recomendaciones></app-columna-recomendaciones>
      </div>
    </div>
  </div>